:root {

    /* PRIMARY COLORS  */

    --clr-primary-very_dark_magenta: hsl(300, 43%, 22%); 
    --clr-primary-soft_pink: hsl(334, 80%, 67%); 
    

    /* SECONDARY COLORS  */

    --clr-secondary-white: white; 
    --clr-secondary-dark_grayish_magenta:  hsl(303, 10%, 53%);
    --clr-secondary-light_grayish_magenta: hsl(300, 24%, 96%); 

    /* FONT SIZE  */

    --fs-sm: 1.0625rem; 
    --fs-base: 1.1875rem; 
    /* --fs-md: ;  */
    --fs-large: 3.5rem; 

    /* FONT WEIGHT  */

    --fw-regular: 400; 
    --fw-md: 500; 
    --fw-semi_bold: 600; 
    --fw-bold: 700; 

}

 /* CSS RESET  */

* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    font: inherit; 
    font-family: "League Spartan", sans-serif;
}

html,
body {
    min-height: 100vh; 
    min-width: 100vw;
    
}

ul {
    list-style: none;
}

body {
    display: flex; 
    align-items: center; 
    justify-content: center;
    overflow-x:hidden;
    padding: 2rem 0; 
}

main{
    display: flex; 
    flex-direction: column; 
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

img{
    width: 2.5rem;
    aspect-ratio: 1;
    border-radius: 50%; 
}




.title-text {
    display: flex; 
    flex-direction: column; 
    gap: 1.5rem;
    padding: 1.5rem;
    max-width: 450px;  
}

.title-text h1 {
    color: var(--clr-primary-very_dark_magenta); 
    letter-spacing: -2px;
}

.title-text p {
    color: var(--clr-secondary-dark_grayish_magenta); 
    line-height: 1.5rem;

}

.rating-section {
    display: flex; 
    flex-direction: column; 
    text-align: center; 
}

.rating-list {
    display: flex; 
    flex-direction: column; 
    gap: 1rem;
    padding: 2.5rem;
}

@media (min-width: 50em) {

    .rating-section {
        flex-direction: row; 
        justify-content: space-between;
        gap: 4rem;
    
    }

    .rating-list > :nth-child(2){
        margin-left: 3rem;
    }
    
    .rating-list > :nth-child(3){
        margin-left: 6rem;
    }
   

}

.ratings {
    display: flex;
    flex-direction: column; 
    gap: .8rem;
    max-width: 445px; 
    background: var(--clr-secondary-light_grayish_magenta); 
    padding: 1.25rem 3rem;
    border-radius: .5rem;
}

@media (min-width: 50em) {
    .ratings{
        flex-direction: row; 
        gap: 2rem;
    }
}


.ratings p {
    color: var(--clr-primary-very_dark_magenta); 
}

.ratings .icons i {
    color: #EF9546; 
}

.testimonial-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.testimonial {
    display: flex; 
    flex-direction: column; 
    gap: 1.5rem;
    background: var(--clr-primary-very_dark_magenta);
    padding: 1.5rem;
    border-radius: .5rem;
    max-width: 350px;
}


.testimonial .user-name{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    
}

.name {
    color: white;
}

.name > :nth-child(1) {
    margin-bottom: .2rem;
}



.verification {
    color: var(--clr-primary-soft_pink); 
    padding-top: 1rem;
}

.testimonial p {
    color: white;
    line-height: 1.3rem;
}


@media (min-width: 50em){
    .testimonial-list {
        flex-direction: row; 
        gap: 1.8rem;
        
    }

    .testimonial-list > :nth-child(1){
        /* margin-top: 1.5rem; */
        align-self: self-start;
        
    }

    .testimonial-list > :nth-child(2){
        /* margin-top: 1.5rem; */
        align-self: center;
        
    }
    
    .testimonial-list > :nth-child(3){
        margin-top: 4rem;
        
    
    }
}







/* UTILITY CLASSES  */

.fw-regular {
    font-weight: var(--fw-regular); 
}

.fw-md {
    font-weight: var(--fw-md); 
}

.fw-bold {
    font-weight: var(--fw-bold); 
}

.fs-small {
    font-size: var(--fs-sm); 
}

.fs-base {
    font-size: var(--fs-base); 
}

.fs-large {
    font-size: var(--fs-large); 
}